<h3>SCIENCE - Group</h3>
<p>Created January 2016</p>
<p>Members: 284</p>

<!-- Big green button -->
<h3><i><b>Join Group</b></i></h3>

<!-- Task bar -->
<ul>
	<li>Home</li>
	<li>Post</li>
	<li>Notes</li>
	<li>About</li>
</ul>

<!--if see all is clicked, display group
	members as a drop down list with 
	button see less at the bottom.
	if the button has not been clicked then only display the 'see all' label-->
<li>Rhian Burris</li>
<li>Naomi Randolph</li>
<li>Douglas Hilton</li>
<li>Jonathan Hail</li>
<li>Roshni Ortega</li>
<li>Milan Trujillo</li>
<li>Kelis Gould</li>
<li>Dewi Lee</li>
<li>Emir Alfaro</li>
<li>Imaad Pearson</li>
<p><%= link_to "See Less", science_path %></p>