<h3>SCIENCE - Group</h3>
<p>Created January 2016</p>
<p>Members: 284</p>
<!--if see all is clicked, display group
	members as a drop down list with 
	button see less at the bottom.
	if the button has not been clicked then only display the 'see all' label-->
<li><u>See All</u></li>
