<h1>Get Help</h1>

<div class="help grid">
	<div class="box">
		<%= image_tag 'helpline.jpg', alt: 'Student Helpline' %>
		<h2>Student Helpline</h2>
		<div class="info">
			<p>Receive support and guidance on everything you need to know about The University of Adelaide, including courses, fees, accommodation and flexible study options.</p> 
			<p><b><a href="tel:+61883135208">Call (08) 8313 5208</a></b></span>
			<p><b>Phone Hours</b></p><p>Monday to Friday - 9am to 5pm</p>
			<p><b>Send us a message:</b></p>
			<form>
			<textarea></textarea>
			<button type="submit">Submit</button>
			</form>
		</div>
	</div>

	<div class="box">
		<%= image_tag 'appointment.jpg', alt: 'Appointments' %>
		<h2>Appointments</h2>
		<div class="info">
			<p><b><a href="#">Medical</a></b></p>
			<p>The Health Service is open 8.45am to 5.00pm, Monday to Friday on all days the University is open.</p>
			<p><b><%= link_to "Counselling & Support", appointment_path %></b></p>
			<p>Counselling offers a place to talk about and reflect on whatever is troubling you in a safe, supported and confidential environment.</p>
			<p><b><a href="#">Enrolment Advice</a></b></p>
			<p>You may register any time after your enrolment appointment day and time. Appointments are available from 8:30am to 3:45pm, Monday to Friday.</p>
		</div>
	</div>

	<div class="box">
		<%= image_tag 'it.jpg', alt: 'IT Support' %>
		<h2>IT Support</h2>
		<div class="info">
			<p><b><a href="#">Repairs</a></b></p>
			<p>Tell us a little about what's going on and we'll help you get the repair you need.</p>
			<p><b><a href="#">Software Services</a></b></p>
			<p>Get the most out of your work or study with a great range of software packages available through the University.</p>
			<p><b><a href="#">Tech Helpline</a></b></p>
			<p>Need support on a specific issue? Have a general enquiry? We have a wide range of ways you can get in touch with us to find the solutions you need</p>
		</div>
	</div>
</div>