<!-- <h2><b><%= link_to "SOFTWARE ENGINEERING WORKSHOP II", sewii_path%></b></h2>
<p>3920_COMP_SCI_2206<br \>2019 Semester 2</p>
<p><br \></p>

<h2><b>DIGITAL ELECTRONICS</b></h2>
<p>3920_ELEC_ENG_X_0003<br \>2019 Semester 2</p>
<p><br \></p>

<h2><b>INTRO SOFTWARE ENGINEERING</b></h2>
<p>3920_COMP_SCI_x_0020<br \>2019 Semester 2</p>
 -->
<!-- HELP page main div -->

<div style="margin:auto">
	<div class="flex-container">
	  <div class="box">
	  	  <img src="/helpline.jpg">
		  <h2>Student Helpline</h2>
		  <p><b>Call: <u>0118999881999119725 3</u></b></p>

		  <form>
			<br>Talk to us:<br> 
			<input type="textarea" rows="4" name="type here..."><br>
		  </form>
	  </div>
	  <div class="box">
	  	  <img src="/appointment.jpg">
	  	  <h2>Appointment</h2>
	  </div>
	  <div class="box">
	  	  <img src="/tech-support.jpg">
	  	  <h2>IT Support</h2>
	  </div>
	</div>
</div>

