<h1><i><b><%= @title %></b></i></h1>

<h2><b> Group Portal: </b></h2>

<h3><b><u>Science</u></b></h3>
<p>3 new posts</p>
<p><b><i><%= link_to "Go to Group", science_path%></i></b></p>

<h3><b><u>Sample Group 2</u></b></h3>
<p>3 new posts</p>
<p><b><i>Go to Group</i></b></p>

<h3><b><u>Sample Group 3</u></b></h3>
<p>3 new posts</p>
<p><b><i>Go to Group</i></b></p>

<h3><b><u>Sample Group 4</u></b></h3>
<p>3 new posts</p>
<p><b><i>Go to Group</i></b></p>

<!--The design in group task 2 has this on the left side of the page but since the drop down menu is being moved to the left so that it collapses from the 3 line button, place this on the right side of the page-->
<h3><u>Latest news on campus:</u></h3>
