<h1>Make a Payment</h1>
<div class="container">
	<div class="pay">
		<p>Need to pay a tutor for their services? Or pay a fellow student for a textbook they're selling? Use Student Life's payment system to securely send the money & make sure the right person gets the funds</p>
		<h2>Who to pay:</h2>
		<select class="form"> 
			<option>Select close friends...</option>
			<option>Alicia Randolph</option>
			<option>Bianca Guerra</option>
			<option>Eleanor Rayner</option>
			<option>Lilian Blackwell</option>
			<option>Jett Phan</option>
		</select>
        <input type="text" style="width:200px" placeholder="Search entire university...">
        <h2>Amount:</h2>
        <input type="text" placeholder="$0.00">
        <a href="#" style="margin-top: 25px">Submit</a>
	</div>
</div>