<h1>Make a Payment</h1>
<div class="container">
	<div class="pay">
		<p>Need to pay a tutor for their services? Or pay a fellow student for a textbook they're selling? Use Student Life's payment system to securely send the money & make sure the right person gets the funds</p>
		<h2>Pay with:</h2>
		<a href="#">Alipay</a>
		<%= link_to "PayPal", payAfter_path %>
		<p>Select an option to link your desired service and continue.<br/>
		The page will redirect you to your desired service.</p>
	</div>
</div>