<h2><b>Make a Payment</b></h2>
<p>Need to pay a tutor for their services? Or pay a fellow student for a textbook they're selling? Use Student Life's payment system to securely send the money & make sure the right person gets the funds</p>

<h2><b>Pay with:</b></h2>
<!-- pay buttons-->
<h3><b>Alipay</b></h3>
<h3><b>Paypal</b></h3>

<p>Select an option to link your desired service and continue</p>
<p>The page will redirect you to your desired service </p>