<div class="sewii sidebar">
	<div class="sewii image"><%= image_tag 'sewii.jpg', alt: 'Software Engineering Workshop II' %></div>
	<h2>Software Engineering Workshop II</h2>
	<div class="sewii info">920_COMP_SCI_2206<br/>2019 Semester 2</div>
	<div class="sewii links">
		<%= link_to "Home", sewii_path %>
		<a href="#">Announcements</a>
		<a href="#">Modules</a>
		<a href="#">Assignments</a>
		<a href="#">Grades</a>
		<a href="#">Echo 360</a>
		<%= link_to "Tutors", tutors_path %>
	</div>
	<div class="sewii posts">
		<h2>Book a Tutor</h2>
		<p style="width:75%;margin:0 auto 25px auto;text-align: center;">See below for our carefully vetted tutors for Software Engineering Workshop II.</p>
		<div class="sewii post tutor">
			<i class="fas fa-user" style="font-size:20px"></i>
			<b>&nbsp;&nbsp;Alex K&nbsp;&nbsp;</b>
			<span style="font-size:125%;color:#f7b801;">&starf; &starf; &starf; &starf;</span>
			<p>Lorem ipsum dolor sit amet, munere electram est ex. Ius in aliquam officiis petentium, alii accusata partiendo ius eu. Ei nam nullam meliore reformidans, mel quaeque deterruisset in, eam clita possit eruditi eu. Per nisl ullamcorper ne. Eam cu movet utinam, eum volumus sententiae cu. Ex vel populo ancillae postulant, et his dolorum expetendis.</p>
			<p style="text-align: right"><%= link_to "Book with Alex", book_path %></p>
		</div>
		<div class="sewii post tutor">
			<i class="fas fa-user" style="font-size:20px"></i>
			<b>&nbsp;&nbsp;Brad L&nbsp;&nbsp;</b>
			<span style="font-size:125%;color:#f7b801;">&starf; &starf; &starf;</span>
			<p>Lorem ipsum dolor sit amet, munere electram est ex. Ius in aliquam officiis petentium, alii accusata partiendo ius eu. Ei nam nullam meliore reformidans, mel quaeque deterruisset in, eam clita possit eruditi eu. Per nisl ullamcorper ne. Eam cu movet utinam, eum volumus sententiae cu. Ex vel populo ancillae postulant, et his dolorum expetendis.</p>
			<p style="text-align: right"><a href="#">Book with Brad</a></p>
		</div>
		<div class="sewii post tutor">
			<i class="fas fa-user" style="font-size:20px"></i>
			<b>&nbsp;&nbsp;Lauren Z&nbsp;&nbsp;</b>
			<span style="font-size:125%;color:#f7b801;">&starf; &starf; &starf; &starf;</span>
			<p>Lorem ipsum dolor sit amet, munere electram est ex. Ius in aliquam officiis petentium, alii accusata partiendo ius eu. Ei nam nullam meliore reformidans, mel quaeque deterruisset in, eam clita possit eruditi eu. Per nisl ullamcorper ne. Eam cu movet utinam, eum volumus sententiae cu. Ex vel populo ancillae postulant, et his dolorum expetendis.</p>
			<p style="text-align: right"><a href="#">Book with Lauren</a></p>
		</div>
	</div>
</div>