<h3><b>Topic 1: Introduction to course</b></h3>
<p><br \><br \> Insert powerpoint here <br \> <br \></p>
<p><%= link_to "Download SEWS2 L0:Introduction to Course 2019.pdf", download_path%> (3.63 MB)</p>
