<h3><b>Notes</b></h3>
<h1>Topic 1: Introduction to course</h1>
<p><br \><br \> Insert powerpoint here <br \> <br \></p>
<p><%= link_to "Download SEWS2 L0:Introduction to Course 2019.pdf", download_path%> (3.63 MB)</p>

<!--Sidebar-->
<ul>
	<li>Home</li>
	<li>Announcements</li>
	<li>Modules</li>
	<li>Assignments</li>
	<li>Grades</li>
	<li>Echo 360</li>
	<li>Help</li>
</ul>

