/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 @import "bootstrap-sprockets";
 @import "bootstrap";
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap');

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
	margin:0;
	font-family:'Roboto',sans-serif;
}

a {
	text-decoration:none;
}

a:hover {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/* navigation bar - side */

.nav_side {
	top:0;
	left:0;
	width:0;
	height:100%;
	position:fixed;
	z-index:1;
	background-color:#0b082e;
	overflow-x:hidden;
	transition: .5s;
}

.nav_side h2 {
	font-style:italic;
	text-align:center;
	color:#fff;
}

.nav_side a {
	padding:10px;
	display:block;
	font-size: 20px;
	font-style:italic;
	font-weight:bold;
	text-align:center;
	color:#fff;
	border-bottom:2px solid #fff;
}

.nav_side .close {
	top:0;
	right:15px;
	position:absolute;
	margin-left:50px;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	border:none;
}

#main {
	transition: margin-left .5s;
}

/* navigation bar - top */

.nav_top {
	width:100%;
	height:60px;
	padding:10px;
	overflow:hidden;
	background-color:#0b082e;
}

.nav_top a {
	min-width:100px;
	height:40px;
	padding:10px 15px;
	margin-left:10px;
	float:left;
	display:block;
	font-style:italic;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	border:2px solid #fff;
}

.nav_top a:hover {
	color:#0b082e;
	background-color:#fff;
}

.nav_top a:hover.icon {
	color:#fff;
	background-color:transparent;
}

.nav_top .icon {
	min-width:0;
	padding:0;
	font-weight:normal;
	border:none;
}

.nav_top .help {
	margin:2px 15px;
	font-size:30px;
}