.courses .box a {
	color:#000;
}

.courses .box a:hover {
	color:#fff;
}

.courses .box:hover {
	background-color:#0b082e;
	color:#fff;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}